<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}

</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="srk" class="img-fluid"
                             title="shahrukh khan">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hi, I am Mohit</p>
                        <h1>I am learning  <span class="text_clr"> Web Development</span></h1>
                        <a href="https://mohitsaud.blogspot.com/" target="blank"><button>About me</button></a>
                    </div>
                    <!-- right side div -->
                    
                </div>

            </div>
        </div>
    </div>
    <!-- footer is here  -->
    {{>footer}}
</body>

</html>